@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap');

* {
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    min-height: 100vh;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.navbar {
    font-size: 18px;
    background-image: linear-gradient(260deg, #002999 0%, #01c4f5 100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
}

.nav-links, .logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.active {
    display: block;
}

.logo:hover, .nav-links:hover {
    color: rgba(255, 255, 255, 1);
}



.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}


.nav a {
    display: inline-block;
    padding: .3em;
    color: white;
    text-decoration: none;
}



.content-section {
    margin: 1em;
}


.main-container {
    width: 100%;
    margin: 0 auto;
    padding: 1em 1.5em;
    height: auto;
    background-image: linear-gradient(
		rgba(0, 0, 0, 0.4), 
		rgba(0, 0, 0, 0.4)
	  ), url(../images/city_bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    overflow: hidden;
    flex-grow: 1;
}

.main-text {
    margin: 0 auto;
    text-align: end;
    padding-bottom: 10px;
    font-size: 2em;
    font-weight: normal;
}

.main-subtext {
    margin: 0 auto;
    text-align: end;
    padding: 0.5em 0;
    font-size: 1.5em;
    font-weight: normal;
}

.main-about, .main-skill, .main-contact {
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 50px;
    word-break: break-all;
    text-align: center;
}




.main-footer {
    background-image: linear-gradient(260deg, #002999 0%, #01c4f5 100%);
    color: white;
    padding: 1em 0;
}

.main-footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-footer-container > div {
    margin-right: 20px;
    text-align: end;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}


.footer-nav img {
    width: 30px;
    height: 30px;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 1em 1.5em;
}


.contact-info {
    text-align: end;
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    color: #fff;
}


.footer-info {
    text-align: end;
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    color: #fff;
}

.email-info {
    text-align: end;
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    color: #fff;
}


@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
        /* padding: 2.5em; */
        /* position: absolute; */
        top: 0;
        width: 100%;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
        padding: 15px 5px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
        border-bottom: 3px solid white;
    }

    .active2 {
        color: rgba(255, 255, 255, 1);
        border-bottom: 3px solid white;
    }



}